.git
.gitignore

.streamlit-run
.streamlit/secrets.toml

__pycache__
*/__pycache__
*.py[cod]

.venv
venv
env
.env

.pytest_cache
.coverage

tests

GRP_SOV_results.xlsx
Composite_GRP_SOV_results.xlsx
Matched_GRP_SOV_results.xlsx
ratings_template.xlsx
brand_report_template.xlsx
~$*.xlsx
*.tmp
